*
!.gitignore
!enveloper.py
!*.py
!isodist*
!isodist/bin/
!isodist/bin/*.0
!*.in
!*.txt
DTASelect-filter.txt
!_html_header.html
!_html_footer.html
!results/
!.cache/
!.cache/README
!.html*
!.html/
!.html/*
!.html/assets/
!.html/assets/*
!.html/assets/css/*
!.html/assets/js/*
!.html/assets/img/*
!LICENSE
!README.md
